/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  height: 100%;
}

code {
  font-size: 80%;
}

#map {
  height: 100%;
  width: 100%;
}


#container-olho {
  margin-top: 100px;
}

#container-olho-map {
  margin-top: 180px;
  height: 100%;
}


#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
}

  #legend h3 {
      margin-top: 0;
  }

  #legend img {
      vertical-align: middle;
      image-orientation: from-image;
  }

  #legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}

    #legend h3 {
        margin-top: 0;
    }

    #legend img {
        vertical-align: middle;
        image-orientation: from-image;
    }