#topo{
	background: #4a714a;border-bottom: 3px solid #00602a;
}
.topoConteudo{
	max-width: 1200px;max-height: 100px;
}
.rodapeConteudo{
	padding: 5px;color: #fff;font-size: 13px;background: #4a714a;border-top: 3px solid #00602a;text-align: center;
}
select {
	font-family:verdana,arial;font-size:10px;display:none;
}
.barra{
	color: #fff;height:30px;background:#4A714A !important;
}
.easyui-linkbutton {
	color: #fff;	
}
body {
	margin: 0px;
	padding: 0px;
}